.app {
  font-family: 'Segoe UI', Roboto, sans-serif;
}

.content {
  padding: 2rem 0;
}

.products-section {
  margin-bottom: 4rem;
}

.products-section h2 {
  margin: 2rem 0rem;
}

.products-grid {
  background-color: rgb(245, 241, 234);
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
  z-index: 3;
}

/* Menu page specific styles */
.menu-grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-top: 2rem;
}

.desicription {
  margin-bottom: -20px;
  width: fit-content;
  background-color: #012622;
  color: white;
  z-index: 4;
  position: relative;
  padding: 10px 40px;
  font-style: italic;
}
