.btn {
  background-color: white;
  color: #ad732b;
  font-size: 1.125rem;
  font-weight: 600;
  padding: 0.75rem 1.75rem;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: fit-content;
}

.btn:hover {
  background-color: #d4d1d2;
}
