html {
  overflow-y: scroll;
  height: 100%;
  scrollbar-gutter: stable;
}

body,
#root {
  height: 100%;
}

body {
  margin: 0;
  background: var(--bg);
  color: var(--text);
}

#root {
  display: flex;
  flex-direction: column;
}

.app {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 3rem;
  font-weight: 300;
}

h2 {
  font-size: 2.25rem;
  font-weight: 450;
}

h3 {
  font-size: 1.4rem;
  font-weight: 600;
}

h4 {
  font-size: 1.2rem;
  font-weight: 500;
  color: #ad732b;
}

p {
  font-size: 1.125rem;
}

a {
  font-family: 'Playfair Display', Times, serif;
  font-size: 1.125rem;
  font-weight: 300;
}

.content {
  max-width: min(90%, 95rem);
  margin: 0 auto;
  padding: 0 1rem;
}

body,
input,
button {
  font-family: 'Inter', ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial;
}
h1,
h2 {
  font-family: 'Playfair Display', Times, serif;
  color: #012622;
}
